<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
<head>
  {# Meta #}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="generator" content="Fork CMS with a flavour of Cigy Dashboards" />
  <meta http-equiv="refresh" content="30" />

  {{ meta|raw }}
  {{ metaCustom|raw }}

  <title>{{ pageTitle }}{{ siteTitle }}</title>

  {# Favicon and Apple touch icon #}
  <link rel="shortcut icon" href="/favicon.php" />

  {# Windows 8 tile #}
  <meta name="application-name" content="{{ siteTitle }}" />
  <meta name="msapplication-TileColor" content="#3380aa" />
  <meta name="msapplication-TileImage" content="/tile.png" />

  <!-- Bootstrap CSS -->
  <link href="/src/Frontend/Themes/Fork/Core/Layout/Css/bootstrap.min.css" rel="stylesheet">

  <!-- The main stylesheet -->
  <link href="/src/Frontend/Themes/Fork/Core/Layout/Css/screen.css" rel="stylesheet">
